{:paths ["src" "dev" "resources"]
 :tasks {
         advent      {:requires ([aoc.advent :as advent])
                      :task     (apply advent/-main *command-line-args*)}
         sync-inputs {:requires ([aoc.sync-inputs :as sync])
                      :task     (sync/-main)}
         spec        {:extra-deps {speclj/speclj {:mvn/version "3.12.0"}}
                      :requires   ([speclj.main :as main])
                      :task       (apply main/-main "-c" "spec" "-p" "src" *command-line-args*)}
         }
 }
