{:paths   ["src" "resources"]
 :aliases {:test      {:extra-paths ["spec" "test"]}
           :spec      {:extra-deps {io.github.slagyr/speclj {:git/tag "3.10.0" :git/sha "b1daa29"}}
                       :main-opts  ["-m" "speclj.main" "-c" "spec" "-p" "src"]}
           :test-cljr {:extra-paths ["test"]
                       :extra-deps  {io.github.dmiller/test-runner {:git/sha "c055ea13d19c6a9b9632aa2370fcc2215c8043c3"}}
                       :exec-fn     cognitect.test-runner.api/test
                       :exec-args   {:dirs ["test"]}}}
 }
