{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.3"}}
 :aliases {
           :test   {:extra-deps  {speclj/speclj             {:mvn/version "3.10.0"}
                                  org.clojure/clojurescript {:mvn/version "1.12.42"}}
                    :extra-paths ["spec" "dev"]}
           :spec   {:main-opts ["-m" "speclj.main" "-c"]}
           :advent {:extra-paths ["dev"]
                    :main-opts   ["-m" "aoc.advent"]}
           :cljs   {:extra-deps {com.cleancoders.c3kit/scaffold {:mvn/version "2.3.0"}}
                    :main-opts  ["-m" "c3kit.scaffold.cljs"]}
           }
 }
